Multi_line_chart_and_NextCustomization.ipynb
pie_and_bar_chart.ipynb
histogram_and_scatter_plot.ipynb
miniproject_case1_sampai_case6b.ipynb
Fundamental_Data_Visualization_with_Python.ipynb
.ipynb_checkpoints/Multi_line_chart_and_NextCustomization-checkpoint.ipynb
.ipynb_checkpoints/pie_and_bar_chart-checkpoint.ipynb
.ipynb_checkpoints/histogram_and_scatter_plot-checkpoint.ipynb
.ipynb_checkpoints/miniproject_case1_sampai_case6b-checkpoint.ipynb
.ipynb_checkpoints/Fundamental_Data_Visualization_with_Python-checkpoint.ipynb